@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon/Milk', sans-serif;
}
section {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #00000092;
    z-index: 9999999;
    display: none;
  }
  section.active{
    display: block;
  }
  
  section button {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #d32424;
    cursor: pointer;
  }
  section button:hover {
    background-color: #b31f1f;
  }
  section button.show-modal,
  .modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  section.active .show-modal {
    display: none;
  }
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    pointer-events: none;
  }
  section.active .overlay {
  
    pointer-events: auto;
  }
  .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
  }
  section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-box i {
    font-size: 70px;
    color: green;
  }
  .modal-box i.fa-circle-xmark{
    color: red;
  }
  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #1e1d1d;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .modal-box .buttons {
    margin-top: 25px;
  }
  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }
header{
    background: #d6d6d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

header .logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos img{
    width: 130px;
    margin-right: 10px;
}
.logos .logo{
  display: flex;
}
.logos p{
  font-size: 35px;
  font-weight: 900;
  line-height: 40px;
}
.logos p span{
  font-size: 28px;
  color: #424242;
}
@media only screen and (max-width: 1040px){
  header .logos{
    flex-direction: column;
  }
  .logos img{
    margin-right: 0;
    margin-bottom: 20px;
  }
  
}
@media only screen and (max-width: 700px){
  .logos .logo p{
    font-size: 27px;
  }
  .logos .logo p span{
    font-size: 22px;
  }
  .logos .ifyr-logo{
    width: 100px;
  }
}
@media only screen and (max-width: 525px){
  .logos .logo {
    flex-direction: column;
    justify-content: center;
  }
  .logos .ifyr-logo{
    display: block;
    margin: auto;
  }
  .logos p{
    text-align: center;
  }
}
header h1{
    margin-top: 30px;
    font-size: 45px;
    color: #d32424;
    font-family: "Poppins", sans-serif;
    letter-spacing: normal;
}
.controls{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    width: 97%;
    margin: auto;
    max-width: 1500px;
}
.controls h2{
    font-size: 28px;
}
.controls h2 span{
  color: #d32424;
}
button{
    border: none;
    outline: none;
    background: #d32424;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 880px){
  .controls{
    flex-direction: column;
    justify-content: center;
  }
  .controls h2{
    text-align: center;
    margin-bottom: 20px;
  }

}
.buttons{
  display: flex;
  justify-content: center;
}
.red-row{
    width: 100%;
    background: #d32424;
    display: flex;
    justify-content: center;
}
.red-row a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
}
a.active{
    background: #a01b1b;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}


.input-group h5{
    color: #d32424;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}
.input-fields{
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 10px;
  width: 97%;

}

.input-fields .input-field{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-field *{
  font-family: "Averia Serif Libre", serif;
}
.input-field label{
  font-size: 20px;
  margin-right: 20px;
}
.input-field input{
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 5px solid #d32424;
  font-size: 17px;
  width: 70%;
  
}

@media only screen and (max-width: 800px){
.input-group{
  flex-direction: column;
  width: 100vw;
}
.input-group h3{
  margin-bottom: 10px;
}
.input-field{
  flex-direction: column;
 width: 80vw;
}
.input-field input{
  width: 100%;
}
.input-field label {
  margin-right: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}
}

.continue-option{
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 0;
}
.continue-option .google {
  width: 280px;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
}
  
.continue-option .google svg {
  height: 24px;
}
  
footer{
  background: #d6d6d6;
  padding: 20px;
  margin-top: 50px;
}
footer h2{
  color: #d32424;
}
footer .contact-icons{
  display: flex;
}
footer a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
footer a .contact-icon{
  display: flex;
  align-items: center;
  margin: 15px;
  gap: 10px;
}
@media only screen and (max-width: 650px){
  footer .contact-icons{
    flex-direction: column;
  }
}